@keyframes bouncing-ball {
  0% {
    top: 0;
    transform: translateX(0);
  }

  15% {
    top: calc(var(--ball-diameter) * 4);
    transform: translateX(0);
  }

  35% {
    top: calc(var(--ball-diameter) * -3);
    transform: translateX(100px);
  }

  45% {
    top: calc(var(--ball-diameter) * 4);
    transform: translateX(200px);
  }

  55% {
    top: calc(var(--ball-diameter) * 0.5);
    transform: translateX(300px);
  }

  65% {
    top: calc(var(--ball-diameter) * 4);
    transform: translateX(400px);
  }

  75% {
    top: calc(var(--ball-diameter) * -2);
    transform: translateX(480px);
  }

  85% {
    top: calc(var(--ball-diameter) * 4);
    transform: translateX(520px);
  }

  95% {
    top: calc(var(--ball-diameter) * 2);
    transform: translateX(560px);
  }

  96%{
    top: calc(var(--ball-diameter) * 4);
    transform: translateX(590px);
  }

  100% {
    top: -200px;
    transform: translateX(999px);
  }
}

:root {
  --ball-diameter: 100px;
}

#court {
  border-block-end: peru solid 20px;
  position: relative;
  height: calc(var(--ball-diameter) * 5);
}

#ball {
  position: absolute;
  left: var(--ball-diameter);
  top: 0;
  width: var(--ball-diameter);
  height: var(--ball-diameter);
  border-radius: 50%;
  background-color: rgb(196, 56, 5);
  background-image:
    radial-gradient(rgba(255,255,255,.8) 0%, rgba(255,255,255,.02) 50%),
    radial-gradient(rgba(255, 69, 0, 1) 0%, rgb(255, 69, 0, .4) 100%);
  background-position:
    50% -25px,
    50% 50%;
  background-repeat: no-repeat;
  animation-name: bouncing-ball, moving-ball;
  animation-duration: 6s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-timing-function:  linear;
}
