@keyframes bouncing-ball {
  0% {
    top: 0;
    transform: translateX(0);
  }

  35% {
    top: calc(var(--ball-diameter) * 4);
    transform: translateX(250px);
  }
}

@keyframes moving-ball {
  0% {
    transform: translate(0);
  }

  45% {
    transform: translateX(250px);
  }

  55% {
    top: calc(var(--ball-diameter) * 4);
    transform: translateX(300px);
  }

  90% {
    top: calc(var(--ball-diameter) * 3);
    transform: translateX(500px);
  }

  100% {
    top: calc(var(--ball-diameter) * 4);
    transform: translateX(550px);
  }
}

:root {
  --ball-diameter: 100px;
}

#court {
  border-block-end: peru solid 20px;
  position: relative;
  height: calc(var(--ball-diameter) * 5);
}

#ball {
  position: absolute;
  left: var(--ball-diameter);
  top: 0;
  width: var(--ball-diameter);
  height: var(--ball-diameter);
  border-radius: 50%;
  background-color: rgb(196, 56, 5);
  background-image:
    radial-gradient(rgba(255,255,255,.8) 0%, rgba(255,255,255,.02) 50%),
    radial-gradient(rgba(255, 69, 0, 1) 0%, rgb(255, 69, 0, .4) 100%);
  background-position:
    50% -25px,
    50% 50%;
  background-repeat: no-repeat;
  animation-name: bouncing-ball, moving-ball;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
  animation-play-state: running;
  animation-timing-function:  cubic-bezier(.6,0.08,0.8,.6);
}
