body > footer {
  color: #ccc;
  font-size: 0.75rem;
  border-block-start: 1px solid #4d4d4d;
  padding-block-start: 0.75rem;
}

body > footer p {
  margin: 0;
}

body > footer a {
  color: #fff;
  text-decoration: none;
}

body > footer a:hover {
  color: #fff18f;
}

body > footer p:last-child {

}

body > footer p:last-child a {
  position: relative;
  padding-inline-start: 1rem;
}

body > footer p:last-child a::before {
  content: '💧';
  position: absolute;
  top: 50%;
  margin-top: -0.5rem;
  left: 0;
  filter: grayscale(1);
}

body > footer {
  display: grid;
  grid-template-columns: repeat(6, 145px);
  grid-column-gap: 15px;
  column-gap: 15px;
}

body footer p:nth-last-of-type(2) {
  grid-column-start: 6;
  grid-column-end: 7;
}

body footer p:nth-last-of-type(2) {
  grid-row-start: 1;
  grid-row-end: 2;
}
