.post {
  margin-block-start: 2rem;
  display: grid;
  grid-column-gap: 15px;
  column-gap: 15px;
  grid-template-columns: repeat(6, 145px);
  grid-template-areas: 
  "header header header header header header"
  "footer content content content content content"
  "footer content content content content content";
}

.post a {
  color: #f2f2f2;
}

.post header {
  grid-area: header;
  grid-column: 2 / 7;
}

 .post_content {
  grid-area: content;
}

.post:nth-of-type(odd) .image_half {
  float: left;
  margin-inline-end: 15px;
}

.post:nth-of-type(even) .image_half {
  float: right;
  margin-inline-start: 15px;
}

.post:not(:nth-last-of-type(1)) > footer {
  border-bottom: 1px solid gray;
}

.post:not(:nth-last-of-type(1)) > .post_content {
  border-bottom: 1px solid gray;
}

/* This element doubles as the post meta block. Links, metadata, etc */
.post footer {
  font-size: 0.75rem;
  grid-area: footer;
}

.post_date {
  margin: 0;
}

.post_categories ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.post_categories li {
  display: inline;
}

.post_categories li:not(:last-child)::after {
  content: ',';
}

.post_categories li,
.post footer a {
  color: #fff18f;
  text-decoration: none;
}

.post_sharing {
  position: relative;
  padding-top: 0.75rem;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
}

.post_sharing p {
  margin: 0;
}

.post_sharing::before {
  content: '';
  position: absolute;
  top: -1px;
  left: 0;
  width: 1rem;
  height: 1px;
  background-color: #4d4d4d;
}
