html {
  min-width: 600px;
  border: 1px solid gray;
  margin: 1rem;
}

h1 {
  padding-inline-start: 0.5rem;
}

body {
  display: block;
  margin: 0rem;
}

h2 {
  display: table-cell;
  min-width: 200px;
  text-align: end;
  padding-inline-end: 1rem;
  vertical-align: middle;
}

p {
  display: table-cell;
  min-width: 400px;
  border-collapse: separate;
  padding-block-start: 0.5rem;
  padding-block-end: 0.5rem;
  padding-inline-end: 0.5rem;
}

footer {
  padding-block-start: 1rem;
  padding-block-end: 1rem;
  padding-inline-start: 0.5rem;
}