.plant {

}

.cloud {

}

.house {

}

#sky {

}

#cloud-1  {
    background-image: url("../images/cloud.svg");
    background-size: 50px 40px;
    background-repeat: no-repeat;
}

#cloud-2  {
    background-image: url("../images/cloud.svg");
    background-size: 50px 45px;
    background-repeat: no-repeat;
}

#sun {
    background-image: url("../images/sun.svg");
    background-repeat: no-repeat;
}

#countryside {

}

#town {
    
}

#house-1  {
    background-image: url("../images/house-1.svg");
    width: 80px; 
    height: 80px;
    background-repeat: no-repeat;
}

#house-2  {
    background-image: url("../images/house-2.svg");
    width: 56px;
    height: 56px;
    background-repeat: no-repeat;
}

#tree {
    background-image: url("../images/tree.svg");
}

#palm  {
    background-image: url("../images/palm-tree.svg");
}

#car {
    background-image: url("../images/car.svg");
    width: 70px;
    height: 70px;
}

#road {
    
}