.form_row.form_actions [type="submit"] {
  margin-inline-start: 9rem;
  margin-top: 1rem;
}

form header  h3 {
  margin: 0rem 0 2rem 0;
  float: left;
}

form .form_toolbar {
  float: right;
  text-align: end;
}
form {
  overflow: auto;
}

.form_row {
  clear: both;
  margin: 1rem 0;
}

.form_row label{
  float: left;
  width: 8rem;
  text-align: end;
  line-height: 40px;
}

 input {
  margin-inline-start: 1rem;
}

div [type="field_title"] {
  margin-block-start: 1rem;
}