#c_and_i .row a                 { background-color: hsla(200deg, 100%, 50%, 0.1);}
#c_and_i .row a + a             { background-color: hsla(200deg, 100%, 50%, 0.2);}
#c_and_i .row a + a + a         { background-color: hsla(200deg, 100%, 50%, 0.3);}
#c_and_i .row a + a + a + a     { background-color: hsla(200deg, 100%, 50%, 0.4);}
#c_and_i .row a + a + a + a + a { background-color: hsla(200deg, 100%, 50%, 0.5);}
/*
  … etc …

  This would get crazy if I had to write out each and every anchor within each row, setting the unique `hsla()` per anchor.
*/

:root {
  
}

.row a:nth-of-type(1) {
  background-color:
}

.row a:nth-of-type(2) {
  background-color: 
}

.row a:nth-of-type(3) {
  background-color: 
}

.row a:nth-of-type(4) {
  background-color: 
}

.row a:nth-of-type(5) {
  background-color: 
}

.row a:nth-of-type(6) {
  background-color: 
}

.row a:nth-of-type(7) {
  background-color: 
}

.row a:nth-of-type(8) {
  background-color: 
}

.row a:nth-of-type(9) {
  background-color: 
}

.row a:nth-of-type(10) {
  background-color: 
}

.row:nth-of-type(1) {
  background-color: ;
}

.row:nth-of-type(2) {
  background-color: ;
}

.row:nth-of-type(3) {
background-color: ;
}

.row:nth-of-type(4) {
  background-color: ;
}

.row:nth-of-type(5) {
  background-color: ;
}

.row:nth-of-type(6) {
  background-color: ;
}

.row:nth-of-type(7) {
  background-color: ;
}

.row:nth-of-type(8) {
  background-color: ;
}

.row:nth-of-type(9) {
  background-color: ;
}

.row:nth-of-type(10) {
  background-color: ;
}