nav.breadcrumb ol a {
  text-decoration: none;
}

nav.breadcrumb ol {
  list-style: none;
}

.breadcrumb ol li span {
  display: none;
}

.breadscrumb li a::before {
  display: block;
  width: 0;
  height: 0;
}

nav ol li {
  display: inline-block;
}

nav li:not(:last-child)::after {
  content: "˃";
}

nav li a {
  padding: 1rem;
}

nav li:nth-last-child(1) {
  padding: 1rem;
}