nav.breadcrumb ol a {
  text-decoration: none;
}

nav.breadcrumb ol {
  list-style: none;
}

.breadcrumb ol li span {
  display: none;
}

.breadscrumb li a::before {
  display: block;
  width: 0;
  height: 0;
}

nav ol li {
  display: inline-block;
}

nav li:not(:last-child)::after {
  content: "";
  height: 0;
  width: 0;
  border-inline-end: 10px solid transparent;
  border-inline-start: 10px solid tomato;
  border-block-end: 10px solid transparent;
  border-block-start: 10px solid transparent;
  position: absolute;
}

nav li a {
  padding: 1rem;
}

nav li:nth-last-child(1) {
  padding: 1rem;
}

nav {
  border: solid lightgray 2px;
  padding: 0;
}