label::before {
  content: "";
  height: 0;
  width: 0;
  border-block-start: 10px solid transparent;
  border-inline-end: 10px solid transparent;
  border-block-end: 10px solid transparent;
  border-inline-start: 10px solid black;
  position: absolute;
  left: 60px;
}

input {
  height: 0;
  width: 0;
}

#dropdown_checkbox:checked ~ * a {
  visibility: visible;
  text-decoration: none;
  list-style: none;
  color: rgb(0, 0, 0);
}

ul li {
  visibility: collapse;
}

a:hover {
  background-color: yellow;
} 