a.icon {
  padding: 10px;
  text-decoration: none;
  color: black;
  background-color: red;
  border: 2px solid gray;
  line-height: 1.5rem;
}

a.icon.icon_left::before {
  content: "";
  background-image: url("../../12-page-mockup/images/icon-facebook.png");
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  margin-inline-end: 10px;
  line-height: 1.5rem;
}


a.icon.icon_right::after {
  content:"";
  background-image: url("../../12-page-mockup/images/icon-facebook.png");  
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  line-height: 1rem;
  margin-inline-start: 10px;
  line-height: 1.5rem;
}