body {
    font-family: serif;
    text-align: start;
    background-color: white;
    margin: 0px;
    border: grey solid 1px;
    text-decoration: none;
}

article {
    padding-block-start: 3rem;
    padding-block-end: 2rem;
    padding-inline-start: 6rem;
    padding-inline-end: 6rem;
    text-decoration: none;
    border: 1px solid gray;
    text-align: start;
    font-family: sans-serif;
}

article a {
    text-decoration: none;
    color: black;
}

.jessi {
    font-weight: 900;
    font-style: italic;
}

main article {
    background-origin: padding-box;
}