header {
    color: rgba(255, 255, 255, 1);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-image:
    url("../images/bg_desktop.jpg");
    opacity: 1;
    background-size: 40rem;
    background-position: left center;
    background-repeat: no-repeat;
    text-decoration: none;height: 17rem;
}

h1 {
    margin-inline-start: 0rem;
    margin-block-start: 0rem;
    font-size: 1rem;
    margin-inline-start: 1em;
}

header a {
    color: rgba(255, 255, 255, 1);
}

header h2 {
    margin-inline-start: 19rem;
}

 header p {
    margin-inline-start: 14rem;
}