nav {
    color: white;
    position: relative;
}

nav li:nth-child(1) {
    position: relative;
    left: 18rem;
    top: -2rem;
}

nav li:nth-child(2) {
    position: relative;
    left: 22rem;
    top: -3rem;
}

nav li:nth-child(3) {
    position: relative;
    left: 27rem;
    top: -4rem;
}

nav li:nth-last-child(1) {
    position: relative;
    left: 33rem;
    top: -5rem;
}

nav a {
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    font-variant: small-caps;
    font-style: normal;
}