/* Styles for all mediums go here */
@media all {
 body {
   font-size: xx-large;
 }

 p [href^="https://en.wikipedia.org/wiki/Tenrec"]::after {
  content: " ( "attr(href)" )";
}


/* Only styles for printers please */
@media print {
  p [href^="https://en.wikipedia.org/wiki/Tenrec"]::after {
    content: " ( "attr(href)" )";
  }
  p [title^="Cascading StyleSheets"]::after {
    content: " ( "attr(title)" )";
  }
}