
/*
  Property name
  Property description
*/
  /* Property example with a value */

/*
  Questions
  =======================

  - What is the difference between `opacity` and a `background-color` that is semi-transparent?
  - What is the difference between `display: none;` and `visibility: hidden;`?
  - Why would we use `visibility: visible;`?


/* Opacity property sets the opacity of an element. Opacity is the degree to which content behind an element is hidden, and is the opposite of transparency.*/

opacity {
  opacity: 1;
}

/* Display sets whether an element is treated as a block or inline element and the layout used for its children, such as flow layout, grid or flex.*/

/* display: inline” Property: This property is used to display an element as an inline element (like <span>). The height and width properties are not effected on display:inline; property. It allows only left and right side of margins, not top and bottom.*/

display {
  display: inline;
}

/* display none removes the element completly from the document.*/
diplay {
  display: none;
}

/* display inine displays element as a block, as pargraphs and headers have always been*/
/*display block*/
 display {
  display: block;
 }

 /* Visibllity shows or hides an element without changing the layout of a document*/
visibility {
  visibility: hidden;
  visibility: collapse;
}

The difference between opacity and a background-color that is semi-transparent is the opacity gives the opacity of the text and the background-color that is semi-trasparent give the brightness of the text.

Difference between display none and visibility visible is Child element of a hidden box will be visible if their visibility is set to visible, display: none; turns off the display and removes the element completely from the document.

The reason why we whould use visibility visible is that we can sets the visibility of the text.
It shows the child element which are set visibility visible when the box is set to visibility hidden