/*section:first-of-type .container {
  max-width: 202px;
  min-width: 200px;
  max-height: 202px;
  min-height: 200px;
  display: block;
  position: relative;
}

section:first-of-type div .container .circle {
  position: relative;
  width: 25%;
  height: 25%;
  top: 150px;
  left: 150px;
  z-index: -1;
}

section:first-of-type div .container .rect {
  position: relative;
  width: 25%;
  height: 25%;
  bottom: 0;
  right: 55px;
  z-index: -1;
}

section:first-of-type div .container .pipe {
  position: relative;
  width: 25%;
  height: 25%;
  top: 150px;
  right: 110px;
  z-index: -1;
}

section:first-of-type div .container .bar {
  position: relative;
  width: 25%;
  height: 25%;
  left: 150px;
  bottom: 50px;
  z-index: -1;
}*/

section:first-of-type .container {
  width: 202px;
  height: 202px;
  display: block;
  position: absolute;
  border: 1px solid gray;

}

section:first-of-type div .container .circle {
  position: absolute;
  width: 25%;
  height: 25%;
  top: 0px;
  right: 152px;
  z-index: -1;
}
}

section:first-of-type div .container .rect {
  position: absolute;
  width: 25%;
  height: 25%;
  bottom: 0;
  right: 55px;
  z-index: -1;
}

section:first-of-type div .container .pipe {
  position: absolute;
  width: 25%;
  height: 25%;
  top: 150px;
  right: 110px;
  z-index: -1;
}

section:first-of-type div .container .bar {
  position: absolute;
  width: 25%;
  height: 25%;
  left: 150px;
  bottom: 50px;
  z-index: -1;
}